.user {
    display: flexbox;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 10px 20px;
    width: 20%;
    height: 300px;
    text-align: center;
    background-color: rgba(2, 2, 2, 0.63);
}

.user button {
    display: block;
    position: relative;
    width: 35%;
    height: 40px;
    min-width: 100px;
    margin: 20px auto;
}

.user a,
.user h3,
.user p {
    margin: 10px auto;
    color: white;
    text-decoration-color: white;
}