.user {
    display: flexbox;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 10px 20px;
    width: 20%;
    text-align: center;
}


.user button {
    display: flexbox;
    color: black;
    padding:  5 !important;
    width: 60%;
}

