.nav {
   background-color: rgb(255, 255, 255);
   box-sizing: border-box;
   width: 100%;
   text-align: center;
}

.nav ul li {
   display: inline-block;
   color: rgb(186, 186, 186);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12),
      0 14px 20px rgba(0, 0, 0, 0.24);
   padding: 25px 0;
   width: 33.3%;
}

.nav ul li:hover {
   background-color: rgba(222, 222, 222, 0.24);
   transform: perspective(5000px) translateY(5px);
   transition: transform 0.4s ease;
}

.nav a {
   text-decoration: none;
   color: rgb(32, 32, 32);
}