.cards div{
    background-color: white;
    width: 33.3%;
    margin: 40px;
    border-radius: 5px;
    box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12),
        0 14px 20px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
}

.cards img {
    height: 350px;
    width: 230px;
}

.cards :nth-child(*){
    margin: 5px;
}
