.cards div {
    background-color: white;
    min-width: 300px;
    max-width: 33.3%;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 14px 20px rgb(0, 0, 0, 0.12),
        0 14px 20px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
}

.cards img {
    height: 350px;
    width: 230px;
}

article div details,
article div p,
article div h3 {
    margin: 10px;
}

.cards button:disabled{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 3em;
    color: green;
}