body {
  background-color: rgb(250, 241, 229);
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 80px auto;
  width: 90%;
}

.validate {
  background-color: green;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  font-size: 1.7em;
}
